<?xml version="1.0" encoding="UTF-8"?>
<widget
 xmlns="http://www.w3.org/ns/widgets" gap:xlmns="http://www.phonegap.com/ns/1.0" id="com.ardyvert.mathwizz" version="1.0.0">
<name>MathWizz</name>
<description>An app to help students with O level mathematics.Includes topic by topic lectures and exam questions.</description>
<icon src="icon.png"/>
<author email="burtchulu@gmail.com" href="https://ardyvert.github.io/mathwizz/">Burton Chulu</author >
<platform name="android"/>
<preference name ="permissions" value="none" ></preference>
</widget>
