body {
	 background: #FFFFFF;
	 color: white;
	 }
	 span{background: green;
	 font-size: 20px;
	 }
#x{color: color: black;
}
 #pee{
 font-size: 12px; 
 color: gold;
 }
 #pee1{font-size: 12px;
 color: black;
 }
 #pee2{color: gold;
 font-size: 40px;
 }
 #pee3{font-size: 12px;
 color:gold;
 }
 #pee4{font-size: 12px;
 color:black;
 }
 #pee5{font-size: 12px;
 color: black;
 }
 #pee6{font-size: 12px;
 color: black;
 }
 #b1{background: black;
 }
 #b2{background: gold;
 }
 #d1{background:black;
 color:white;
 }
 #d2{background: gold;
 color: white;
 }
 #h1{color: gold;
 font-size: 20px;
 }
 #h2{color: gold;
 font-size: 20px;
 }
 #h3{color: gold;
 font-size: 20px;
 }
 #h4{color: gold;
 font-size: 20px;
 }
 #d3{background: black;
 color: white;
 }
 #d4{background: gold;
 color:black;
 }
 #d5{background: gold;
 font-size: 12px;
 }
 p{font-size: 16px;
 color: black;
 }
#d6{background: gold;
 }
 #d7{background: gold;
 }
 #d8{background: gold;
 }
 #d9{background: gold;
 }
 #d10{background: gold;
 }
 #d11{background: gold;
 }
 #d12{background: gold;
 }
 #d13{background: gold;
 }
 #d15{background: black;
 }
 #d17{background: gold;
 }
 #d14{background: gold;
 }
 #d18{background: gold;
 }
 #d19{background: gold;
 }
 #d20{background: gold;
 }
 #d21{background: gold;
 }
 #d22{background: gold;
 }
 #d23{background: gold;
 }
 #d24{background: gold;
 }
 #d25{background: gold;
 }
 #d26{background: gold;
 }
 #d27{background: gold;
 }
 #d28{background: gold;
 }
 #d29{background: gold;
 }
 #d30{background: gold;
 }
 #a1{color: gold;
 text-decoration:none;
 font-size: 16px;
 }
 #a2{color: gold;
 }
 #a3{color: gold;
 }
 #a4{color:gold;
 }
 button{background-color: gold;
 }
 .b{background: gold;
 }
 #dv2{background: black;
 color: gold;
 }
 #dv4{background: gold;
 }
 #dv3{background: gold;
 }
 
 